
.mod-schedule {
  width: 100%;
  .van-calendar__header-title{
    display: none
  }
  .mod-scheduleList{
    width: 100%;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    background: #fff;
    .unit{
      width: 100%;
      padding: 20px;
      border-bottom: 1px solid #eee;
      position: relative;
      .title{
        width: 250px;
        padding: 5px 0 10px;
        text-align: left;
      }
      .content{
        width: 250px;
        text-align: left;
      }
      .delete{
        position: absolute;
        right: 20px;
        top: 20px
      }
    }
  }
}
